@import "../node_modules/bootstrap/scss/bootstrap.scss";


// General section padding
section {
    padding: 60px 0;
}

// Navigation
.navbar {
    background-color: #3e2723;
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    img {
        height: 110px;
        background-color: #d4a373;
        width: auto;
        border-radius: 5px;
    }

    .navbar-toggler {
        border: none;
        background: none;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }

    .nav-link {
        font-size: 1.1rem;
        color: #ffddc1;
        padding: 0.5rem 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
        border-radius: 5px;

        &:hover {
            color: #d4a373;
            background-color: rgba(255, 255, 255, 0.1);
        }

        &.active {
            color: #d4a373;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.15);
        }

        &.disabled {
            color: #bcbcbc;
            pointer-events: none;
        }
    }

    .navbar-collapse {
        justify-content: flex-end;

        .nav-link {
            padding: 10px 15px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    }

    .navbar-collapse.show {
        animation: fadeInMenu 0.4s ease-in-out forwards;
    }

    @keyframes fadeInMenu {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @media (max-width: 768px) {
        .nav-link {
            text-align: center;
            color: #ffddc1;
        }

        .navbar-collapse {
            background-color: #3e2723;
        }
    }
}

// Hero Section
.hero-section {
    padding: 60px 0;
    background-color: #fff;

    .text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: left;
        padding-right: 30px;

        opacity: 0;
        transform: translateX(-50px);
        animation: fadeInLeft 1.2s ease forwards;

        h1 {
            font-size: 3rem;
            color: #6b3e26;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2rem;
            color: #7f5731;
            line-height: 1.6;
        }
    }

    .image-content {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;

            opacity: 0;
            transform: translateX(50px);
            animation: fadeInRight 1.2s ease forwards;
            animation-delay: 0.5s;
        }
    }

    @media (max-width: 768px) {
        .text-content {
            text-align: center;
            padding-right: 0;
            transform: translateX(0);
            animation: fadeInUp 1.2s ease forwards;
        }

        .image-content {
            margin-top: 20px;

            img {
                transform: translateX(0);
                animation: fadeInUp 1.2s ease forwards;
                animation-delay: 0.5s;
            }
        }
    }

    // Keyframes for the text animation (slide in from the left)
    @keyframes fadeInLeft {
        from {
            opacity: 0;
            transform: translateX(-50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    // Keyframes for the image animation (slide in from the right)
    @keyframes fadeInRight {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    // Keyframes for smaller screens (slide up)
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}


// Background Image Section
.background-section {
    position: relative;
    background-image: url('../media/cheesecake.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;

    .overlay {
        background-color: rgba(13, 12, 12, 0.3);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
        font-size: 1.2rem;
    }

    .btn-secondary {
        padding: 10px 20px;
        font-size: 1rem;
    }
}

// Featured Coffees Section
.featured-coffees {
    padding: 50px 0;
    background-color: #fff;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #6b3e26;
    }

    p {
        margin-bottom: 40px;
        font-size: 1.2rem;
        color: #7f5731;
    }

    .coffee-item {
        margin-bottom: 30px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        }

        img {
            border-radius: 10px;
            margin-bottom: 15px;
            width: 100%;
            height: auto;
        }

        h3 {
            font-size: 1.5rem;
            color: #6b3e26;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            color: #7f5731;
        }
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .coffee-item {
            text-align: center;
        }
    }
}
<<<<<<< HEAD


// About Us Section
.about-us {
    background-color: #efe8dc;

    .about-text {
        h2 {
=======
    /// About Us Page
.history-section {
    padding: 60px 0;
    background-color: #f8f9fa;
 
    .history-content {
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInUp 1s ease forwards;
        animation-delay: 0.2s;
 
        h1 {
>>>>>>> origin/main
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: #6b3e26;
        }
 
        p {
            font-size: 1.2rem;
            color: #333;
            line-height: 1.6;
        }
    }
 
    /* Animation keyframes */
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
 
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
<<<<<<< HEAD

.about-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about-text {
    width: 50%;
}

.about-text h2 {
    font-size: 2.5rem;
    color: #7e5e32;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.8;
}

.about-image {
    width: 50%;
}

.about-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .about-text,
    .about-image {
        width: 100%;
=======
 
/* Photo Gallery Section */
.gallery-section {
    padding: 60px 0;
 
    .gallery-item-1 {
        margin-bottom: 20px;
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInUp 0.8s ease forwards;
       
        /* Staggered delay for images */
        &:nth-child(1) { animation-delay: 0.6s; }
        &:nth-child(2) { animation-delay: 1s; }
        &:nth-child(3) { animation-delay: 1.4s; }
        &:nth-child(4) { animation-delay: 1.8s; }
   
        img {
            width: 400px;
            height: 400px;
            border-radius: 10px;
            transition: transform 0.3s ease;
 
            &:hover {
                transform: scale(1.05);
            }
        }
    }
 
    .gallery-item-2 {
>>>>>>> origin/main
        margin-bottom: 20px;
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInUp 0.8s ease forwards;
       
        &:nth-child(1) { animation-delay: 2.2s; }
        &:nth-child(2) { animation-delay: 2.6s; }
        &:nth-child(3) { animation-delay: 3s; }
        &:nth-child(4) { animation-delay: 3.4s; }
   
        img {
            width: 400px;
            height: 400px;
            border-radius: 10px;
            transition: transform 0.3s ease;
 
            &:hover {
                transform: scale(1.05);
            }
        }
    }
<<<<<<< HEAD
}

.contact-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #7e5e32;
}

.contact-section p {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
}

.contact-info {
    text-align: center;
    margin: 20px 0;
}

.contact-info p {
    font-size: 1rem;
    color: #555;
}

.contact-info a {
    color: #7e5e32;
    text-decoration: none;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
}

.contact-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.form-group input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form button {
    padding: 15px 30px;
    background-color: #7e5e32;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #6b4e29;
=======
 
>>>>>>> origin/main
}

// Testimonials Section
.testimonial-section {
    background-color: #f8f9fa;
    padding: 50px 0;

    .testimonial-item {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;

        h3 {
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 15px;
            color: #6b3e26;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;
            color: #333;
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #6b3e26;
        border-radius: 50%;
        padding: 10px;
    }
}

// For a smooth transition effect
.carousel-item {
    transition: transform 0.8s ease, opacity 0.8s ease;
}


// Call to Action Section
.cta-section {
    background-color: #6b3e26;
    color: white;

    h2 {
        font-size: 2.5rem;
    }

    p {
        margin-bottom: 20px;
        font-size: 1.2rem;
    }

    /* Coffee-Themed Button Styling */
    .btn-coffee-theme {
        background-color: #7f5731;
        color: #ffddc1;
        border: none;
        padding: 10px 20px;
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: #d4a373;
            transform: translateY(-3px);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
        }

        &:active {
            background-color: #5a2e20;
            transform: translateY(0);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    }
}

// Responsive adjustments
@media (max-width: 768px) {
    section {
        padding: 40px 0;
    }

    .hero-section h1,
    .background-section h2 {
        font-size: 2.5rem;
    }

    .background-section p {
        font-size: 1rem;
    }

    .featured-coffees h2,
    .about-us .about-text h2,
    .testimonials h2,
    .cta-section h2 {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    section {
        padding: 20px 0;
    }

    .background-section {
        height: 300px;
    }

    .hero-section h1,
    .background-section h2 {
        font-size: 2rem;
    }

    .background-section p {
        font-size: 0.9rem;
    }
}


// About Index 
.about-us {
    padding: 60px 0;
    background-color: #f9f7f5;

    .about-image {
        img {
            border-radius: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 80%;
            padding-right: 20px;
        }
    }

    .about-text {
        h2 {
            font-size: 2.5rem;
            color: #6b3e26;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.8;
            color: #7f5731;
            margin-bottom: 30px;
        }

        .btn-coffee-theme {
            background-color: #6b3e26;
            color: #ffddc1;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1rem;
            transition: background-color 0.3s ease, transform 0.3s ease;
            text-transform: uppercase;
            letter-spacing: 1px;

            &:hover {
                background-color: #d4a373;
                transform: translateY(-2px);
            }
        }
    }

    @media (max-width: 768px) {
        .about-image {
            margin-bottom: 30px;
        }

        .about-text {
            text-align: center;
        }
    }
}


// CONTACT US PAGE
/* Opening Times Section */
.opening-section {
    padding: 60px 0;

    .text-content {
        h1 {
            font-size: 2.5rem;
            color: #6b3e26;
        }

        p {
            font-size: 1.1rem;
            color: #333;
        }
    }

    .image-content img {
        border-radius: 50%;
        width: 100%;
        height: auto;
    }
}

/* Contact Form Section */
.contact-form-section {
    padding: 60px 0;
    background-color: #f9f7f5;

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .contact-details {
            margin-bottom: 20px;

            p {
                font-size: 1.2rem;
                color: #333;
            }

            .social-icons {
                a {
                    color: #6b3e26;
                    font-size: 1.8rem;
                    margin: 0 15px;
                    transition: color 0.3s ease;

                    &:hover {
                        color: #d4a373;
                    }
                }
            }
        }

        .form-container {
            width: 100%;
            max-width: 450px;
            padding: 20px;
            background: #fff;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #6b3e26;
    }

    .form-control {
        margin-bottom: 20px;
        padding: 10px;
    }

    .btn-coffee-theme {
        background-color: #6b3e26;
        color: #ffddc1;
        border: none;
        padding: 10px 20px;
        text-transform: uppercase;
        transition: background-color 0.3s ease, transform 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        &:hover {
            background-color: #d4a373;
            transform: translateY(-3px);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
        }
    }

    .image-content img {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
}

/* Google Maps Section */
.maps-section {
    padding: 60px 0;
    background-color: #5a2e20;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #d4a373;
        text-align: center;
    }

    iframe {
        border-radius: 10px;
        border: none;
        margin-bottom: 20px;
    }
}


// About Us Page
.history-section {
    padding: 60px 0;
    background-color: #f8f9fa;

    .history-content {
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInUp 1s ease forwards;
        animation-delay: 0.2s;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: #6b3e26;
        }

        p {
            font-size: 1.2rem;
            color: #333;
            line-height: 1.6;
        }
    }

    /* Animation keyframes */
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Photo Gallery Section */
.gallery-section {
    padding: 60px 0;

    .gallery-item-1 {
        margin-bottom: 20px;
        opacity: 0;
        transform: translateY(50px); 
        animation: fadeInUp 0.8s ease forwards;
        
        /* Staggered delay for images */
        &:nth-child(1) { animation-delay: 0.6s; }
        &:nth-child(2) { animation-delay: 1s; }
        &:nth-child(3) { animation-delay: 1.4s; }
        &:nth-child(4) { animation-delay: 1.8s; }
    
        img {
            width: 400px;
            height: 400px;
            border-radius: 10px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .gallery-item-2 {
        margin-bottom: 20px;
        opacity: 0;
        transform: translateY(50px); 
        animation: fadeInUp 0.8s ease forwards;
        
        &:nth-child(1) { animation-delay: 2.2s; }
        &:nth-child(2) { animation-delay: 2.6s; }
        &:nth-child(3) { animation-delay: 3s; }
        &:nth-child(4) { animation-delay: 3.4s; }
    
        img {
            width: 400px;
            height: 400px;
            border-radius: 10px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

}



// Footer Section
.footer {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
    border-top: 1px solid #e0e0e0;

    .footer-content {
        margin-bottom: 10px;

        a {
            color: #57280f;
            font-size: 1.5rem;
            margin: 0 10px;
            transition: color 0.3s ease;

            &:hover {
                color: #96591c;
            }
        }
    }

    p {
        color: #333;
        font-size: 0.9rem;
        margin: 0;
    }
<<<<<<< HEAD
=======
}

// CONTACT US PAGE
/* Opening Times Section */
.opening-section {
    padding: 60px 0;
 
    .text-content {
        h1 {
            font-size: 2.5rem;
            color: #6b3e26;
        }
 
        p {
            font-size: 1.1rem;
            color: #333;
        }
    }
 
    .image-content img {
        border-radius: 50%;
        width: 100%;
        height: auto;
    }
}
 
/* Contact Form Section */
.contact-form-section {
    padding: 60px 0;
    background-color: #f9f7f5;
 
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
 
        .contact-details {
            margin-bottom: 20px;
 
            p {
                font-size: 1.2rem;
                color: #333;
            }
 
            .social-icons {
                a {
                    color: #6b3e26;
                    font-size: 1.8rem;
                    margin: 0 15px;
                    transition: color 0.3s ease;
 
                    &:hover {
                        color: #d4a373;
                    }
                }
            }
        }
 
        .form-container {
            width: 100%;
            max-width: 450px;
            padding: 20px;
            background: #fff;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
    }
 
    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #6b3e26;
    }
 
    .form-control {
        margin-bottom: 20px;
        padding: 10px;
    }
 
    .btn-coffee-theme {
        background-color: #6b3e26;
        color: #ffddc1;
        border: none;
        padding: 10px 20px;
        text-transform: uppercase;
        transition: background-color 0.3s ease, transform 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
 
        &:hover {
            background-color: #d4a373;
            transform: translateY(-3px);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
        }
    }
 
    .image-content img {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
}
 
/* Google Maps Section */
.maps-section {
    padding: 60px 0;
    background-color: #5a2e20;
 
    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #d4a373;
        text-align: center;
    }
 
    iframe {
        border-radius: 10px;
        border: none;
        margin-bottom: 20px;
    }
>>>>>>> origin/main
}